#app {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.todo {
    display: flex;
}

img {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.move {
    opacity: 0.3;
}

.big {
    width: 40px;
    height: 40px;
}

button {
    background-color: transparent;
    border: none;
}

input:required {
    box-shadow:none;
}